.overlayTexthorizontal{
    color: white;
    font-size: 15px;
    height: 5%;
    width: 29%;
    position: absolute;
    text-align: center;
    margin-top: 9%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
}

.overlayTextvertical{
    color: white;
    font-size: 15px;
    height: 50%;
    width: 29%;
    position: absolute;
    text-align: center;
    margin-top: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
}
.photoContainer:hover{
    
    &.photoContainer p{opacity: 1} 
    &.photoContainer img{opacity: .2;} 
}

@media screen and (max-width: 13.3in){
    .overlayTexthorizontal{
        color: white;
        font-size: 15px;
        height: 5%;
        width: 34.75%;
        position: absolute;
        text-align: center;
        margin-top: 10%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    
    .overlayTextvertical{
        color: white;
        font-size: 15px;
        height: 50%;
        width: 34.75%;
        position: absolute;
        text-align: center;
        margin-top: 25%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    .photoContainer:hover{
        
        &.photoContainer p{opacity: 1} 
        &.photoContainer img{opacity: .2;} 
    }
}