.overlayTexthorizontal{
    color: white;
    font-size: 15px;
    height: 100% !important;
    width: 10% !important;
    position: absolute;
    text-align: center;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
}

.overlayTextvertical{
    color: white;
    font-size: 15px;
    height: 100% !important;
    width: 30% !important;
    position: absolute;
    text-align: center;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
}
.photoContainer:hover{
    
    &.photoContainer p{opacity: 1;} 
    &.photoContainer img{opacity: .2;} 
}

@media screen and (max-width: 13.3in){
    .overlayTexthorizontal{
        color: white;
        font-size: 15px;
        height: 40% !important;
        width: 10% !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    
    .overlayTextvertical{
        color: white;
        font-size: 15px;
        height: 100% !important;
        width: 10% !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    .photoContainer:hover{
        
        &.photoContainer p{opacity: 1;} 
        &.photoContainer img{opacity: .2;} 
    }
}

@media screen and (max-width: 700px){
    .overlayTexthorizontal{
        color: white;
        font-size: 15px;
        height: 80% !important;
        width: 50% !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    
    .overlayTextvertical{
        color: white;
        font-size: 15px;
        height: 100% !important;
        width: 50% !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    .photoContainer:hover{
        
        &.photoContainer p{opacity: 1;} 
        &.photoContainer img{opacity: .2;} 
    }
}
@media screen and (max-width: 850px){
    .overlayTexthorizontal{
        color: white;
        font-size: 15px;
        height: 65% !important;
        width: 38% !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    
    .overlayTextvertical{
        color: white;
        font-size: 15px;
        height: 145% !important;
        width: 38% !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        opacity: 0;
    }
    .photoContainer:hover{
        
        &.photoContainer p{opacity: 1;} 
        &.photoContainer img{opacity: .2;} 
    }
}